<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  		<div style="width: 80%; height: 40%; background-color: rgb(220,220,220);">
		    <h1>Estimado/a <%= @consulta.name %>, </h1>
		    <p>Gracias por contactarte con MB-Contable</p>
		    <p>Analizaremos su consulta y nos contactaremos con usted a la brevedad.</p>
		    <p>Atentamente, MB-Contable</p>
		</div>
  </body>
</html>