<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  		<div style="width: 80%; height: 40%; background-color: rgb(235,235,235);">
        <img style= "width: 15%; position: absolute; margin-top: 5%; margin-left: 3%;" src="http://i.imgur.com/Fl68w7C.png"/>
		    <h1>Estimado/a <%= @consulta.consulta %>, </h1>
		    <p>Muchas gracias por contactarnos</p>
		    <p>En breve responderemos su consulta!</p>
		    <p>Atentamente, The craft beer truck</p>
		</div>
  </body>
</html>