<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  		<div>
		    <p>Nombre: <%= @consulta.name %> </p>
        <p>Mail: <%= @consulta.mail %> </p>
        <p>Consulta: <%= @consulta.consulta %> </p>
		</div>
  </body>
</html>